<html>
      <head>Welcome to {{greet_message}}</head>

      <body>
            <h1>Provisioner tool used is {{provisioner_tool}}</h1>
            <h1>Automation engine used is {{automation_tool}}</h1>
      </body>
</html>
