<html>
     <head> Welcome to {{greeting_msg}}</head>

     <body>
            <h1>Provisioned by {{provisioner_tool}}</h1>
            <h1>Configured by {{automation_tool}}</h1>
     </body>
</html>

