<html>
            <head>Welcome to Devops! </head>
            <body>
                  <h1>Configured by {{Organization_name}}</h1>
                  <h1>Provisioned by {{Provisioner_tool}}</h1>
                  <h1>Configured by {{automation_tool}}</h1>
            </body>
</html>

